# Ignore environment files
.env*
*.env

# Ignore node_modules directories
client/node_modules
server/node_modules

# Ignore any logs
*.log

# Other optional ignores
Dockerfile*
docker-compose.yml

# Exclude the uploads folder
uploads/

# Exclude the server/documentos folder
server/documentos/

# Ignore dump files
*.dump
*.sql

